include *.txt
include *.md
include *.pkl

recursive-include ./heart_classification_model/*

include heart_classification_model/datasets/train.csv
include heart_classification_model/datasets/test.csv
include heart_classification_model/trained_models/*.pkl
include heart_classification_model/VERSION
include heart_classification_model/config.yml

include ./requirements/requirements.txt
include ./requirements/test_requirements.txt
exclude *.log
exclude *.cfg

recursive-exclude * __pycache__
recursive-exclude * *.py[co]